@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://img.freepik.com/free-vector/cinema-movie-concept_1302-12571.jpg?w=2000" alt="imageofApplication" style="width:900px ;">
    <P>Get Your PopCorn and Enjoy</P>
</div>
